.App {
  text-align: center;
  margin-top: 12px;
  margin-left: 36px;
  margin-right: 36px;
  padding: 12px;
}

.Header-wrapper {
  display: flex;
  background-color: aquamarine;
  color: aliceblue;
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(172, 0, 149, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.Input-wrapper{
  width: 200px;
}